<md-dialog class="mdl-cell--8-col">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nieuw spel</h2>
                <span flex></span>
                <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">close</i>
                </button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout="column">
            <h3>friends</h3>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">save</i>
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>