<md-content ng-controller="loginController as vm" layout-padding layout-wrap layout="row">
<div flex="20" layout-align="center center" class="loginFrom" style="padding: 50px 50px 50px 50px;">
    <form name="loginFrom">
     <fieldset>
      <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Email</label>
      <md-icon md-svg-src="assets/libs/bower_components/material-design-icons/social/svg/production/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="vm.credentials.email" type="text" name="email" required>
    </md-input-container>
         <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <md-icon md-svg-src="assets/libs/bower_components/material-design-icons/action/svg/production/ic_lock_24px.svg" class="name"></md-icon>

      <input ng-model="vm.credentials.password" type="password" name="password" required>
    </md-input-container>
     </fieldset>
        <md-button type="submit" class="md-raised md-primary" ng-click="vm.login()" style="margin: 0 auto;">Login</md-button>
    </form>
</div>
</md-content>