body{
  background: #E0E0E0;
}

.loginFrom{
  background: #FFFFFF;
  margin: auto;
  box-shadow: 10px 10px 5px #888888;
  margin-top: 5%;
  text-align: center;
}

#gameBoardView {
    margin: auto;
    margin-top: 10%;
    padding: 1.25em;  /* 20/16 */
    background: #E0E0E0;
    color: white;
    max-width: 80%;
}

#gameBoardView p{
  color: black;
  text-align: center;
}

#notificationmenu {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(/assets/img/notificationmenuBorder.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(/assets/img/notificationmenuBorder.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(/assets/img/notificationmenuBorder.png) 30 stretch;
}

.dice{
	background: #FFFFFF;
  max-height: 3.125em; /* 50/16 */
	width: auto;
  margin: 0.3125em 0.3125em 0.3125em 0.3125em; /* 5/16 */ /* 5/16 */ /* 5/16 */ /* 5/16 */
	float: left;
}

#roleDicesBtn {
	margin: auto;
    width: 30%;
}

.diceSerie{
	margin: auto;
}

.layout-wrap{
  background: #E0E0E0;
}

#scoreBoardView {
	border-radius: 15px;
    padding: 1.25em;  /* 20/16 */
    background-color: #1d1d1d;
    float:left;
}

#scoreBoardView span {
    border-style: solid;
    border-color: #FFFFFF !important;
    border-width: 1px;
}

.sumValues {
	text-transform: uppercase;
	font-weight: bold;
}

.possibleScores {
	color: #D50000;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 1300px) {
    #gameBoardView{
      max-width: 100%;
      margin: 0;
    }
    span{
      border-bottom: solid 1px #fff;
    }
}

@media screen and (max-width: 1080px){
    #scoreBoardView{
      overflow: scroll;
    }
}

@media screen and (max-width: 650px){
    .diceSerie{
      height: 210%;
    }
}