<md-content layout-padding layout-wrap>
<div layout="row">
    <div layout="column" flex="50">
    	<span></span>
    	<span>Een</span>
    	<span>Twee</span>
    	<span>Drie</span>
    	<span>Vier</span>
    	<span>Vijf</span>
    	<span>Zes</span>
    	<span>Som</span>
    	<span>Bonus</span>
    	<span>Drie dezelfde</span>
    	<span>Vier dezelfde</span>
    	<span>Full house</span>
    	<span>Kleine straat</span>
    	<span>Grote straat</span>
    	<span>Kans</span>
    	<span>YATHZEE</span>
    	<span>TOTALE SCORE</span>
    </div>
    <div layout="column" flex="25">
    	<span>{{dvm.players[0]}}</span>
    </div>
    <div layout="column" flex="25">
    <span>{{dvm.players[1]}}</span>
    </div>
</div>
</md-content>